BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
Language: Cpp
UseTab: Never
Cpp11BracedListStyle: true
IndentWrappedFunctionNames: true
PointerAlignment: Left
FixNamespaceComments: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true