BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
Language: Cpp
UseTab: Never
Cpp11BracedListStyle: true
IndentWrappedFunctionNames: true
PointerAlignment: Left
FixNamespaceComments: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
NamespaceIndentation: All
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
BreakConstructorInitializers: BeforeColon
IndentCaseLabels: 'false'
SpaceBeforeCpp11BracedList: 'false'
SpaceBeforeCtorInitializerColon: 'true'
AlignEscapedNewlines: Left
PointerAlignment: Left
BreakBeforeBraces: Allman

BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterExternBlock: true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    true